table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 300px;
}

th {
    background-color: lightgreen;
    border: 1px solid black;
    width: 200px;
}

tr:hover {
    background-color: lightblue;
}

td {
    border: 1px solid black;
    width: 200px;
}

td.action {
    text-align: center;
}

button.btn_edit,
button.btn_save,
button.btn_cancel {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    margin: 3 5
}

button.btn_edit:hover,
button.btn_save:hover,
button.btn_cancel:hover {
    color: black;
}

button.btn_delete {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
    margin: 3 5
}

button.btn_delete:hover {
    color: black
}

input[type="text"] {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: bottom;
}

button.fa {
    font-size: 16px
}

.editing {
    background-color: lightyellow;
}